.db{

    &__header{
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        height: $db-header-height;
        display: flex;
        align-items: center;
        justify-content: center;
        background: #fff;
        box-shadow: 0px 2px 5px 2px rgba(60, 64, 67, 0.10);
        z-index: 1000;
    }

    &__new{
        margin-top: $db-header-height;
        padding: 1.5rem;
        background: #dadce0;
    }

    &__create{
        width: 160px;
        height: 160px;
        border-radius: 4px;
        background: #fff;
        border: 1px solid #dadce0;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.5rem;
        text-decoration: none;
        color: #000;
        text-align: center;
        
        &:hover{
            cursor: pointer;
            border-color: green;
            color: green;
        }
    }

    &__view{
        margin: 0 auto;
        max-width: 1000px;
    }

    &__table{
        padding: 1rem;
    }
    
    &__list-header{
        display: flex;
        justify-content: space-between;
        font-size: 16px;
        font-weight: 500;
        color: #202124;
        margin-bottom: 10px;
        padding: 0 12px;
    }
    
    &__record{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 12px 14px;
        margin-bottom: 10px;

        &:hover{
            background: #e6f4ea;
            border-radius: 25px;
        }
        
        a{
            text-decoration: none;
            cursor: pointer;
            color: #202124;
            font-size: 14px;
            &:hover{
                text-decoration: underline;
            }
        }
    }
}
