@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import "~normalize.css";

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ul,li{
    list-style: none;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
}

@import "variable";
@import "mixins";

.excel{
    color: $border-color;
    height: 100%;
    max-width: 100%;
}
@import "header";
@import "toolbar";
@import "formula";
@import "table";

@import "dashboard";