.excel__table{
    position: absolute;
    right: 0;
    left: 0;
    top: $header-height + $toolbar-height + $formula-height;
    overflow-x: auto;
    padding-bottom: 2px;

    .row{
        display: flex;
        flex-direction: row;
        min-height: 20px;
        height: $row-height;
    }

    .row-info{
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        min-width: $info-cell-width;
        height: 100%;
        border: 1px solid $border-color;
        border-top: none;
        background: #f8f9fa;
    }
    
    .row-data{
        display: flex;
    }

    .column{
        display: flex;
        justify-content: center;
        align-items: center;
        background: #f8f9fa;
        min-width: 40px;
        width: $cell-width;
        height: 100%;
        border: 1px solid $border-color;
        border-top: none;
        border-left: none;
        position: relative;
    }

    .cell{
        min-width: 40px;
        width: $cell-width;
        height: 100%;
        padding: 5px;
        border: 1px solid #e2e3e3;
        border-top: none;
        border-left: none;
        color: #111;
        white-space: nowrap;
        outline: none;
        font-size: .8rem;

        &.selected{
            border: none;
            outline: 2px solid #3c74ff;
            z-index: 2;
        }
    }

    .col-resize,.row-resize{
        position: absolute;
        background: #3c74ff;
        right: 0;
        bottom: 0;
        opacity: 0;
        z-index: 1000;
        &:hover{
            opacity: 1 !important;
        }
    }

    .col-resize{
        top: 0;
        width: 4px;
        &:hover{
            cursor: col-resize;
        }
    }

    .row-resize{
        left: 0;
        height: 4px;
        &:hover{
            cursor: row-resize;
        }
    }
}